tests/benchmark/population/.ipynb_checkpoints/3h_ATP7B1000-checkpoint.csv
tests/benchmark/population/results/3h_ATP7B25.csv
tests/benchmark/population/results/3h_ATP7B50.csv
tests/benchmark/population/results/3h_ATP7B75.csv
tests/benchmark/population/results/3h_ATP7B100.csv
tests/benchmark/population/results/3h_ATP7B150.csv
tests/benchmark/population/results/3h_ATP7B200.csv
tests/benchmark/population/results/3h_ATP7B500.csv
tests/benchmark/population/results/3h_ATP7B1000.csv
tests/benchmark/population/results/3h_ATP7B1500.csv
tests/benchmark/population/results/3h_ATP7B2000.csv
tests/benchmark/population/results/3h_ATP7B2500.csv
tests/benchmark/population/results/3h_ATP7B5000.csv
tests/benchmark/population/results/3h_ATP7B10000.csv
tests/benchmark/population/results/3h_hidua25.csv
tests/benchmark/population/results/3h_hidua50.csv
tests/benchmark/population/results/3h_hidua75.csv
tests/benchmark/population/results/3h_hidua100.csv
tests/benchmark/population/results/3h_hidua150.csv
tests/benchmark/population/results/3h_hidua200.csv
tests/benchmark/population/results/3h_hidua500.csv
tests/benchmark/population/results/3h_hidua1000.csv
tests/benchmark/population/results/3h_hidua1500.csv
tests/benchmark/population/results/3h_hidua2000.csv
tests/benchmark/population/results/3h_hidua2500.csv
tests/benchmark/population/results/3h_hidua5000.csv
tests/benchmark/population/results/3h_hidua10000.csv
tests/benchmark/population/results/3h_MMUT25.csv
tests/benchmark/population/results/3h_MMUT50.csv
tests/benchmark/population/results/3h_MMUT75.csv
tests/benchmark/population/results/3h_MMUT100.csv
tests/benchmark/population/results/3h_MMUT150.csv
tests/benchmark/population/results/3h_MMUT200.csv
tests/benchmark/population/results/3h_MMUT500.csv
tests/benchmark/population/results/3h_MMUT1000.csv
tests/benchmark/population/results/3h_MMUT1500.csv
tests/benchmark/population/results/3h_MMUT2000.csv
tests/benchmark/population/results/3h_MMUT2500.csv
tests/benchmark/population/results/3h_MMUT5000.csv
tests/benchmark/population/results/3h_MMUT10000.csv
tests/benchmark/population/results/3h_OTC25.csv
tests/benchmark/population/results/3h_OTC50.csv
tests/benchmark/population/results/3h_OTC75.csv
tests/benchmark/population/results/3h_OTC100.csv
tests/benchmark/population/results/3h_OTC150.csv
tests/benchmark/population/results/3h_OTC200.csv
tests/benchmark/population/results/3h_OTC500.csv
tests/benchmark/population/results/3h_OTC1000.csv
tests/benchmark/population/results/3h_OTC1500.csv
tests/benchmark/population/results/3h_OTC2000.csv
tests/benchmark/population/results/3h_OTC2500.csv
tests/benchmark/population/results/3h_OTC5000.csv
tests/benchmark/population/results/3h_OTC10000.csv
tests/benchmark/population/results/3h_pah25.csv
tests/benchmark/population/results/3h_pah50.csv
tests/benchmark/population/results/3h_pah75.csv
tests/benchmark/population/results/3h_pah100.csv
tests/benchmark/population/results/3h_pah150.csv
tests/benchmark/population/results/3h_pah200.csv
tests/benchmark/population/results/3h_pah500.csv
tests/benchmark/population/results/3h_pah1000.csv
tests/benchmark/population/results/3h_pah1500.csv
tests/benchmark/population/results/3h_pah2000.csv
tests/benchmark/population/results/3h_pah2500.csv
tests/benchmark/population/results/3h_pah5000.csv
tests/benchmark/population/results/3h_pah10000.csv
tests/benchmark/population/results/10kgen_pah10.csv
tests/benchmark/population/results/10kgen_pah20.csv
tests/benchmark/population/results/100kgen_ATP7B10.csv
tests/benchmark/population/results/100kgen_ATP7B20.csv
tests/benchmark/population/results/100kgen_hidua10.csv
tests/benchmark/population/results/100kgen_hidua20.csv
tests/benchmark/population/results/100kgen_MMUT10.csv
tests/benchmark/population/results/100kgen_MMUT20.csv
tests/benchmark/population/results/100kgen_OTC10.csv
tests/benchmark/population/results/100kgen_OTC20.csv
tests/benchmark/population/results/pah500.csv
tests/benchmark/population/results/__pycache__/run_pygad_variable_pop_mp.cpython-37.pyc
tests/benchmark/population/results/__pycache__/test_run_pygad_variable_population_multi.cpython-37.pyc
tissue_cocoputs/data/
tests/hidua_test.ipynb
DeepPASTA_gpu/
templates/.ipynb_checkpoints/select_sequences-checkpoint.ipynb
templates/select_sequences.ipynb
.ipynb_checkpoints/metrics-checkpoint.py
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
references/CoCoPUTs_codon_usage/bicodon_usage/.ipynb_checkpoints/Adipose_Subcutaneous.bicodon-checkpoint.txt
tests/.ipynb_checkpoints/tissue_cocoputs_test-checkpoint.ipynb
tissue_cocoputs/.ipynb_checkpoints/test-checkpoint.ipynb
tissue_cocoputs/.ipynb_checkpoints/test-Copy1-checkpoint.ipynb
.ipynb_checkpoints/metrics-checkpoint.py
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
tests/.ipynb_checkpoints/tissue_cocoputs_test-checkpoint.ipynb
.ipynb_checkpoints/metrics-checkpoint.py
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
tests/.ipynb_checkpoints/tissue_cocoputs_test-checkpoint.ipynb
tests/.ipynb_checkpoints/
*.pyc
__pycache__/*
references/*
tissue_cocoputs/data/*
*.ipynb_checkpoints
tissue_cocoputs/__pycache__/*
tests/benchmark/population/10kgen_pah10.csv
tests/benchmark/population/10kgen_pah20.csv
tests/benchmark/population/10kgen_pah30.csv
tests/benchmark/population/10kgen_pah40.csv
tests/benchmark/population/10kgen_pah50.csv
tests/benchmark/population/10kgen_pah75.csv
tests/benchmark/population/10kgen_pah100.csv
tests/benchmark/population/10kgen_pah150.csv
tests/benchmark/population/10kgen_pah200.csv
tests/benchmark/population/10kgen_pah500.csv
tests/benchmark/population/10kgen_pah1000.csv
tests/benchmark/population/10kgen_pah1500.csv
tests/benchmark/population/10kgen_pah2000.csv
tests/benchmark/population/10kgen_pah2500.csv
tests/benchmark/population/10kgen_pah5000.csv
tests/benchmark/population/10kgen_pah10000.csv
tests/benchmark/population/100kgen_ATP7B10.csv
tests/benchmark/population/100kgen_MMUT10.csv
tests/benchmark/population/100kgen_MMUT20.csv
tests/benchmark/population/100kgen_MMUT30.csv
tests/benchmark/population/100kgen_MMUT40.csv
tests/benchmark/population/100kgen_MMUT50.csv
tests/benchmark/population/100kgen_MMUT75.csv
tests/benchmark/population/100kgen_MMUT100.csv
tests/benchmark/population/100kgen_MMUT150.csv
tests/benchmark/population/100kgen_MMUT200.csv
tests/benchmark/population/100kgen_MMUT500.csv
tests/benchmark/population/100kgen_MMUT1000.csv
tests/benchmark/population/100kgen_MMUT1500.csv
tests/benchmark/population/100kgen_MMUT2000.csv
tests/benchmark/population/100kgen_hidua10.csv
tests/benchmark/population/pah10.csv
tests/benchmark/population/pah500.csv
tests/benchmark/population/pah10.csv
tests/benchmark/population/pah10.csv
tests/benchmark/population/__pycache__/run_pygad_variable_pop_mp.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population_multi.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population.cpython-37.pyc
tests/benchmark/population/__pycache__/test_run_pygad_variable_population_multi.cpython-37.pyc
tests/benchmark/population/__pycache__/test.cpython-37.pyc
tests/benchmark/population/100kgen_OTC10.csv
tests/benchmark/population/pah10.csv
tests/benchmark/population/__pycache__/run_pygad_variable_population_multi.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population.cpython-37.pyc
tests/benchmark/population/__pycache__/test.cpython-37.pyc
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population_multi.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population.cpython-37.pyc
tests/benchmark/population/__pycache__/test.cpython-37.pyc
tests/benchmark/population/100kgen_OTC20.csv
tests/benchmark/population/100kgen_ATP7B20.csv
tests/benchmark/population/100kgen_hidua20.csv
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population_multi.cpython-37.pyc
tests/benchmark/population/__pycache__/run_pygad_variable_population.cpython-37.pyc
tests/benchmark/population/__pycache__/test.cpython-37.pyc
tests/benchmark/population/3h_ATP7B25.csv
tests/benchmark/population/3h_ATP7B50.csv
tests/benchmark/population/3h_ATP7B75.csv
tests/benchmark/population/3h_ATP7B100.csv
tests/benchmark/population/3h_ATP7B150.csv
tests/benchmark/population/3h_ATP7B200.csv
tests/benchmark/population/3h_ATP7B500.csv
tests/benchmark/population/3h_ATP7B1000.csv
tests/benchmark/population/3h_ATP7B1500.csv
tests/benchmark/population/3h_ATP7B2000.csv
tests/benchmark/population/3h_ATP7B2500.csv
tests/benchmark/population/3h_ATP7B5000.csv
tests/benchmark/population/3h_ATP7B10000.csv
tests/benchmark/population/3h_hidua25.csv
tests/benchmark/population/3h_hidua50.csv
tests/benchmark/population/3h_hidua75.csv
tests/benchmark/population/3h_hidua100.csv
tests/benchmark/population/3h_hidua150.csv
tests/benchmark/population/3h_hidua200.csv
tests/benchmark/population/3h_hidua500.csv
tests/benchmark/population/3h_hidua1000.csv
tests/benchmark/population/3h_hidua1500.csv
tests/benchmark/population/3h_hidua2000.csv
tests/benchmark/population/3h_hidua2500.csv
tests/benchmark/population/3h_hidua5000.csv
tests/benchmark/population/3h_hidua10000.csv
tests/benchmark/population/3h_MMUT25.csv
tests/benchmark/population/3h_MMUT50.csv
tests/benchmark/population/3h_MMUT75.csv
tests/benchmark/population/3h_MMUT100.csv
tests/benchmark/population/3h_MMUT150.csv
tests/benchmark/population/3h_MMUT200.csv
tests/benchmark/population/3h_MMUT500.csv
tests/benchmark/population/3h_MMUT1000.csv
tests/benchmark/population/3h_MMUT1500.csv
tests/benchmark/population/3h_MMUT2000.csv
tests/benchmark/population/3h_MMUT2500.csv
tests/benchmark/population/3h_MMUT5000.csv
tests/benchmark/population/3h_MMUT10000.csv
tests/benchmark/population/3h_OTC25.csv
tests/benchmark/population/3h_OTC50.csv
tests/benchmark/population/3h_OTC75.csv
tests/benchmark/population/3h_OTC100.csv
tests/benchmark/population/3h_OTC150.csv
tests/benchmark/population/3h_OTC200.csv
tests/benchmark/population/3h_OTC500.csv
tests/benchmark/population/3h_OTC1000.csv
tests/benchmark/population/3h_OTC1500.csv
tests/benchmark/population/3h_OTC2000.csv
tests/benchmark/population/3h_OTC2500.csv
tests/benchmark/population/3h_OTC5000.csv
tests/benchmark/population/3h_OTC10000.csv
tests/benchmark/population/3h_pah25.csv
tests/benchmark/population/3h_pah50.csv
tests/benchmark/population/3h_pah75.csv
tests/benchmark/population/3h_pah100.csv
tests/benchmark/population/3h_pah150.csv
tests/benchmark/population/3h_pah200.csv
tests/benchmark/population/3h_pah500.csv
tests/benchmark/population/3h_pah1000.csv
tests/benchmark/population/3h_pah1500.csv
tests/benchmark/population/3h_pah2000.csv
tests/benchmark/population/3h_pah2500.csv
tests/benchmark/population/3h_pah5000.csv
tests/benchmark/population/3h_pah10000.csv
tests/benchmark/population/.ipynb_checkpoints/3h_ATP7B1000-checkpoint.csv
tests/benchmark/population/.ipynb_checkpoints/3h_OTC1000-checkpoint.csv
tests/benchmark/population/.ipynb_checkpoints/3h_pah25-checkpoint.csv
__pycache__/general_functions.cpython-37.pyc
__pycache__/metrics.cpython-37.pyc
__pycache__/*
.ipynb_checkpoints
tests/testing/tmp
__pycache__/metrics.cpython-37.pyc
Misc/cuda.ipynb
tissue_cocoputs/species/refseq/dna.cgi?cmd=objFile&ids=537&filename=Refseq_Bicod_index.ts
__pycache__/metrics.cpython-37.pyc
tissue_cocoputs/species/genbank/*.tsv
tissue_cocoputs/species/genbank/*.out
tissue_cocoputs/species/refseq/*.out
tissue_cocoputs/species/refseq/*.tsv
tissue_cocoputs/species/tables/*.tsv
